h5py==2.9.0
ipykernel==5.1.0
ipython==7.4.0
ipython-genutils==0.2.0
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
matplotlib==3.0.3
notebook==5.7.8
numpy==1.16.4
orderedset==2.0.1
scipy==1.2.1
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
tensorflow-probability==0.6.0
