h5py==2.9.0
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
matplotlib==3.0.3
numpy==1.16.4
orderedset==2.0.1
scipy==1.2.1
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
tensorflow-probability==0.6.0
